@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  background-color: $background-color;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 82px;
  line-height: 100%;
  font-family: "Spectral";
  font-weight: 00;

  @media screen and (max-width: $desktopLgWidth) {
    font-size: 56px;
  }
  @media screen and (max-width: $smDesktopWidth) {
    font-size: 48px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 42px;
  }
}

.default-text {
  font-family: "Spectral";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 165%;
  color: #404040;

  @media screen and (max-width: $desktopLgWidth) {
    font-size: 18px;
    line-height: 156%;
  }
  @media screen and (max-width: $desktopWidth) {
    font-size: 21px;
    line-height: 165%;
  }
  @media screen and (max-width: $smDesktopWidth) {
    font-size: 18px;
    line-height: 156%;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 18px;
    line-height: 156%;
  }
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
}

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   margin: 0 auto;
//   min-height: 100vh;
//   min-width: 100vh;
// }

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// .container {
//   width: 100%;
//   flex: 0 0 auto;
//   position: relative;
//   margin: 0 auto;
//   max-width: $desktopWidth;
//   @media screen and (max-width: $smDesktopWidth) {
//     max-width: $tableWidth;
//   }
//   @media screen and (max-width: $tableWidth) {
//     max-width: $phoneWidth;
//   }
//   @media screen and (max-width: $phoneWidth) {
//     max-width: $smPhoneWidth;
//   }
// }

// Modules:
// example: @import "modules/my-module.scss";
